<ul>
  <% @toys.each do |toy| %>
    <li> <%= toy.name %> </li>
    <li> <%= toy.description %> </li>
    <li> <%= toy.category %> </li>
    <li> <%= toy.unit_price %> </li>
    <%= link_to "supprimer", toy_path(toy), method: :delete %>
  <% end %>
</ul>

