<div class="mb-5">
  <div class="indexheader">
  <h1>Clic sur le jouet qui te ferait plaisir</h1>
  </div>

<!-- Search form  -->

    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-center div-search">
        <%= simple_form_for :search, url: root_path, method: :get do |f| %>
          <div class="form-inline">
            <input class="form-control" type="text" name="search[query]" id="search_query" value="">
            <button name="button" type="submit" class="btn btn-success">
              <i class="fas fa-search"></i>
            </button>
          </div>
        <% end %>
      </div>
      <%= link_to "Voir tous les jouets", toys_path, class:"btn btn-success" %>
    </div>

<!-- category cards -->
    <div class="categorymenu mb-5">
      <div class="col-sm-4 col-lg-2 categorycards">
        <a href=""><p>0 - 2 ans</p></a>
      </div>
      <div class="col-sm-4 col-lg-2 categorycards">
        <a href=""><p>3 - 4 ans</p></a>
      </div>
      <div class="col-sm-4 col-lg-2 categorycards">
        <a href=""><p>5 - 7 ans</p></a>
      </div>
      <div class="col-sm-4 col-lg-2 categorycards">
        <a href=""><p>8 - 12 ans</p></a>
      </div>
    </div>


<!-- toy index -->
  <ul>
    <div class="toycontainer">
      <% @toys.each do |toy| %>
        <div class="toycard d-flex flex-column" href="<% toy_path(toy) %>">
          <div class="toycard-main flex-grow-1">
            <li class="toyname"> <%= toy.name %></li>
            <li class="toyphoto"><%= cl_image_tag(toy.photo.key, height: 200, width: 170, crop: "fill") %></li>
          </div>
            <div class="toy-details border-top pt-2">
              <div class="toy-info">
                <li class="toy-info toy-cat"> <%= toy.category %></li>
                <li class="toy-info toy-price"> <%= toy.unit_price %> €</li>
              </div>
              <div class="toy-link-show">
                <%= link_to "Détails", toy_path(toy), class: "btn btn-primary btn-index-show" %>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </ul>
</div>
