<div class="d-flex justify-content-center">

  <!-- gepetto illustration -->
  <div>
    <%= image_tag("gepetto.png", class: "image-gepetto m-5") %>
  </div>

  <!-- new toy creation form -->
  <div class="ml-5 mt-2">
    <h1 class="mb-4 mt-3">J'ajoute mon jouet :</h1>
    <div class="justify-content-center">

      <%= simple_form_for [ @toy ] do |f| %>
        <div class="new-toy-form">
          <%= f.input :name, label:"Le nom du jouet " %>
          <%= f.input :description, label: "Sa description " %>
          <%= f.input :category, :collection => Toy::CATEGORY %>
          <%= f.input :photo, label:"Je rajoute une photo", as: :file %>
          <%= f.input :unit_price, label:"Prix par jour ", as: :integer %>
          <%= f.submit "Partager mon jouet", class: "btn btn-success louer center" %>
        </div>
      <% end %>
    </div>
  </div>

<!-- pinocchio illustration -->
  <div>
    <%= image_tag("pinocchio.png", class: "image-gepetto m-5") %>
  </div>

</div>



