<div class="container">

  <div class="container-show">

    <div class="container-left">
      <div class="show-title">
        <%= @toy.name %></h1>
      </div>
      <div>
        <% if @toy.photo.attached? %>
        <%= cl_image_tag @toy.photo.key, class: "container-left-image" %>
        <% end %>
      </div>
    </div>

    <div class="container-right">
      <div class="container-right-detail">
        <h2>Description</h2>
        <p><%= @toy.description %></p>
      </div>

      <div class="container-right-detail">
        <h2>Prix par jour</h2>
        <p><%= @toy.unit_price %> €</p>
      </div>

      <div class="container-right-detail">
        <h2>Catégorie</h2>
        <p><%= @toy.category %></p>
      </div>
      <div class="container-right-links">
        <%= link_to "Louer", new_toy_rent_path(@toy), class: "btn-rent" %>
        <%= link_to "Retour", toys_path, class: "back-link"%>
      </div>
    </div>
    </div>
      <div class="container-right-links">
        <h1>L'avis des parents</h1>
        <%= link_to 'Poster un avis', new_toy_review_path(@toy), class: "btn btn-rent" %>
      </div>

      <div class="container mt-5 mb-5">
        <% if !@average_rating.nil? %>
          <div class="container border-secondary mb-2">
            <div class="row pt-3 general-review">
              <div class="col-6">
                <p class="lead align-middle pt-1">Note générale : <%= @average_rating.round(1) %> / 5</p>
              </div>
              <div class="col-2">
                <p>Qualité du jouet<br>
                <% @average_quality_rating.round.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% (5 - @average_quality_rating.round).times do %>
                  <i class="far fa-star"></i>
                <% end %>
                </p>
              </div>
              <div class="col-2">
                <p>Sécurité et hygiène<br>
                <% @average_security_rating.round.times do %>
                  <i class="fas fa-thumbs-up"></i>
                <% end %>
                <% (5 - @average_security_rating.round).times do %>
                  <i class="far fa-thumbs-up"></i>
                <% end %>
                </p>
              </div>
              <div class="col-2">
                <p>Attrait de l'enfant<br>
                <% @average_fun_rating.round.times do %>
                  <i class="fas fa-laugh-beam"></i>
                <% end %>
                <% (5 - @average_fun_rating.round).times do %>
                  <i class="far fa-laugh-beam"></i>
                <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="container mt-5 mb-5">
        <% @toy.reviews.order(id: :desc).each do |review| %>
          <div class="container border-secondary mb-2 review">
            <div class="row">
            <div class="col-6">
              <p id="author-review"> par <%= User.find(Toy.find(review.toy_id).user_id).name %>  |  <%= (review.created_at).to_s.match(/\d{4}-\d{2}-\d{2}/) %></p>
              <p><%= review.content %></p>
            </div>
            <div class="col-2">
              <p>Qualité du jouet<br>
              <% review.quality_rating.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% (5 - review.quality_rating).times do %>
                <i class="far fa-star"></i>
              <% end %>
            </div>
            <div class="col-2">
              <p>Sécurité et hygiène<br>
              <% review.security_rating.times do %>
                <i class="fas fa-thumbs-up"></i>
              <% end %>
              <% (5 - review.security_rating).times do %>
                <i class="far fa-thumbs-up"></i>
              <% end %></p>
            </div>
            <div class="col-2">
              <p>Attrait de l'enfant<br>
              <% review.fun_rating.times do %>
                <i class="fas fa-laugh-beam"></i>
              <% end %>
              <% (5 - review.fun_rating).times do %>
                <i class="far fa-laugh-beam"></i>
              <% end %></p>
            </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
