<div class="container">

  <div class="container-show">

    <div class="container-left">
      <div class="show-title">
        <%= @toy.name %></h1>
      </div>
      <div class="container-left-image">
        <% if @toy.photo.attached? %>
        <%= cl_image_tag @toy.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    </div>

    <div class="container-right">
      <div class="container-right-detail">
        <h2>Description</h2>
        <p><%= @toy.description %></p>
      </div>

      <div class="container-right-detail">
        <h2>Unit price</h2>
        <p><%= @toy.unit_price %> €</p>
      </div>

      <div class="container-right-detail">
        <h2>Category</h2>
        <p><%= @toy.category %></p>
      </div>

<!--       calendar -->
      <div class="container-right-links">

        <div class="container p-0">
          <div class="form-wrapper">
            <h2>Louer un jouet</h2>
            <%= simple_form_for [@toy, @rent] do |f| %>
              <%= f.input  :start_date, as: :string, required: false, label: false, input_html: {id: "range_start", class: "datepicker d-none"} %>
              <%= f.input  :end_date,   as: :string, required: false, label: false, input_html: {id: "range_end", class: "datepicker d-none" } %>
              <%= f.button :submit, "Louer", class: "btn btn-success louer" %>
            <% end %>
          </div>
        </div>
      </div>
      <div id="booking-form-div" data-bookings="<%= @rental_dates.to_json %>" ></div>

    </div>
    </div>

  </div>
</div>
