<div class="rent-container">
  <h1>Récapitulatif de ma location :</h1>
  <div class="rent-recap-card">
    <div class="rent-toy-name">
      <p><%= @toy.name %></p>
    </div>
    <div class="rent-content">
      <div class="rent-recap-info">
        <h5>Loué par :</h5>
        <p><%= @toy_user.name %></p>
        <h5>Prix de la location par jour :</h5>
        <p><%= @toy.unit_price %>€</p>
        <h5>Durée de la location :</h5>
        <p><%= @rent.duration %> jours</p>
        <h5>Prix total de la location :</h5>
        <p><%= @rent.price %>€</p>
        <%= link_to "Annuler ma location", rent_path, method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: 'btn btn-list-rent-delete' %>
      </div>
      <hr>
      <div class="rent-photo">
        <%= cl_image_tag @toy.photo.key, width: 300, height: 350, crop: :fill %>
      </div>
    </div>
  </div>
    <%= link_to "Louer un autre jouet", toys_path, class: 'btn btn-all-rents mt-4' %>
    <%= link_to "Toutes mes locations", rents_path, class: 'btn btn-all-rents mt-3' %>
  </div>
</div>
