<div class="demands-container">
  <h1>Mes demandes de location</h1>
  <h2>Demandes en attente</h2>
  <% if @new_rents.empty? %>
    <h3>Aucune demande en attente</h3>
  <% else %>
    <div class="flex-demand">
      <% @new_rents.each do |rent|  %>
        <div class="item flex-item">
          <div class="demand-card">
            <div class="demand-name">
              <p>Pour le jouet <%= Toy.find(rent.toy_id).name %></p>
            </div>
            <div class="demand-content">
              <div class="demand-photo">
                <%= cl_image_tag Toy.find(rent.toy_id).photo.key, width: 350, height: 170, crop: :fill %>
              </div>
              <div class="demand-info">
                <h5><em>Durée : </em><%= rent.duration %> jours</h5>
                <h5><em>Montant : </em><%= rent.duration %>€</h5>
                <h5><em>Statut : </em><%= rent.status %></h5>
              </div>
            </div>
            <div class="demand-by-user">
              <h4>Effectuée par <%= User.find(rent.user_id).name %> le <%= (rent.created_at).to_s.match(/\d{4}-\d{2}-\d{2}/) %></h4>
            </div>
            <div class="demand-footer">
              <%= link_to "Confirmer", accept_rent_path(rent), method: :patch, data: { confirm: "Êtes-vous sûr ?" }, class: 'btn btn-rentee-confirm' %>
              <%= link_to "Refuser", refuse_rent_path(rent), method: :patch, data: { confirm: "Êtes-vous sûr ?" }, class: 'btn btn-rentee-refuse' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <h2>Demandes acceptées</h2>
  <% if @validated_rents.empty? %>
    <h3>Aucune demande acceptée</h3>
  <% else %>
  <div class="flex-demand">
    <% @validated_rents.each do |rent|  %>
      <div class="item flex-item">
        <div class="demand-card-validated">
          <div class="demand-name">
            <p>Pour le jouet <%= Toy.find(rent.toy_id).name %></p>
          </div>
          <div class="demand-content">
            <div class="demand-photo">
              <%= cl_image_tag Toy.find(rent.toy_id).photo.key, width: 350, height: 170, crop: :fill %>
            </div>
            <div class="demand-info">
              <h5><em>Durée : </em><%= rent.duration %> jours</h5>
              <h5><em>Montant : </em><%= rent.duration %>€</h5>
              <h5><em>Statut : </em><%= rent.status %></h5>
            </div>
          </div>
          <div class="demand-by-user">
            <h4>Effectuée par <%= User.find(rent.user_id).name %> le <%= (rent.created_at).to_s.match(/\d{4}-\d{2}-\d{2}/) %></h4>
          </div>
          <div class="demand-footer">
            <%= link_to "Retirer de ma liste", rent_path(rent), method: :delete, class: 'btn btn-list-rent-delete' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
  <h2>Demandes refusées</h2>
  <% if @refused_rents.empty? %>
    <h3>Aucune demande refusée</h3>
  <% else %>
  <div class="flex-demand">
    <% @refused_rents.each do |rent|  %>
      <div class="item flex-item">
        <div class="demand-card-refused">
          <div class="demand-name">
            <p>Pour le jouet <%= Toy.find(rent.toy_id).name %></p>
          </div>
          <div class="demand-content">
            <div class="demand-photo">
              <%= cl_image_tag Toy.find(rent.toy_id).photo.key, width: 350, height: 170, crop: :fill %>
            </div>
            <div class="demand-info">
              <h5><em>Durée : </em><%= rent.duration %> jours</h5>
              <h5><em>Montant : </em><%= rent.duration %>€</h5>
              <h5><em>Statut : </em><%= rent.status %></h5>
            </div>
          </div>
          <div class="demand-by-user">
            <h4>Effectuée par <%= User.find(rent.user_id).name %> le <%= (rent.created_at).to_s.match(/\d{4}-\d{2}-\d{2}/) %></h4>
          </div>
          <div class="demand-footer">
            <%= link_to "Retirer de ma liste", rent_path(rent), method: :delete, class: 'btn btn-list-rent-delete' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
