<!DOCTYPE html>
<html>
  <head>
    <title>Toysup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div>
        <%= link_to (image_tag("logo_2.png")), root_path, class: "navbar-brand" %>
      </div>

      <div>
        <h3>toySup</h3>
      </div>

      <div class="d-inline-flex align-items-center">
        <%= link_to "Mettre un jouet en location", new_toy_path , class: "btn-add-toy" %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <button class="btn-profile" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <%= current_user.name.first %>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "Mon profil", "#", class: "dropdown-item" %>
                <hr>
                <%= link_to "Mes locations", rents_path, class: "dropdown-item" %>
                <hr>
                <%= link_to "Me déconnecter", "#", class: "dropdown-item" %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="main">
      <%= yield %>
    </div>

    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="footer-copyright">
        This playground is made with <i class="fas fa-heart"></i> at toySup
      </div>
    </div>

  </body>
</html>
